@model IEnumerable<NextInterProj2.Models.Chat>
@{
    ViewBag.Title = "Say";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Say</h2>
<table>
    <tr>
        <td>Sender</td>
        <td>Message</td>
        <td>Time</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(mod => item.Sender.FirstName)</td>
            <td>@Html.DisplayFor(mod => item.Message)</td>
            <td>@Html.DisplayFor(mod => item.Time)</td>
        </tr>
    }
</table>

@*@using (@Html.BeginForm("Say", "Chat", FormMethod.Post))
{
    @Html.Hidden("SenderId", ViewBag.SenderId)
}*@